extends layout

block params
	-headTitle='Вход'

block body
	.container.col-md-8.offset-md-2.text-center
		form#loginForm
			.form-group.mt-3
				input#usr.form-control(
					type="text"
					minlength="3"
					required
					placeholder="Ник"
				)
			button.btn.btn-success(type="submit") Продолжить
