extends layout

block body
	.container
		.container#messages(data-id=room._id)
		form
			.form-group
				input.form-control.message(placeholder="Сообщение...")
			button.btn.btn-primary.pull-right.send-message(type="submit", style="margin-left: 10px;") Отправить

	if room.password
		.modal#modal(role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						h4.modal-title Пароль
					.modal-body
						input.form-control#password(type="password")
					.modal-footer
						button#enter.btn.btn-primary(type="button") Войти
